<div class="container">

    <div class="row">
    
    <div class="col-6">
    <br>
    <div class="card " style="width:25rem;">
    
        <img src="https://www.newindiaschool.org/rambaug-colony/images/school2.jpg" width="500" height="500">

    
    
    </div>
    
    </div>
    
    <div class="col-6">
        <a class="fcc-btn" href="/home" >Back</a>
    <br>
    <br>
    
    <div class="card" style="width:25rem;">
    
    <div class="card-body">
        <h1 style="font-style: italic;color:rgb(6, 48, 120);text-align: center;">ABC School</h1>

    <h1 class="card-title"  style="font-family: Georgia, 'Times New Roman', Times, serif;color:rgb(24, 80, 177);text-align: center;">1500&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 50</h1>
    <h1 style="font-style: italic;color:rgb(24, 80, 177);">Students&nbsp;&nbsp; Teachers</h1>
<h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: rgb(42, 64, 116);">About Us</h1>

    
   
<p>Our school's mission is to learn leadership, the common core, and relationships for life. Our mission is to provide a safe, disciplined learning environment that empowers all students to develop their full potential. We feel strongly about helping to build leaders that have the ability to succeed in whatever endeavor they undertake. Winning is not always the measure of success. Our students understand the "Win, win" philosophy and use it in their daily life. Common standards keeps us focused on learning appropriate content and preparing our students to graduate. Last but just as importantly, setting examples for our students of meaningful and lasting relationships will go with them throughout their lifetime.</p>
    </div>
    
    </div>
    
    </div>
    
    </div>
    
    </div>