  <div class="container">
    <br>
    <br>
    
    <div class="row">
    
    <div class="col-6">
    
    <div class="card " style="width:25rem;">
    
      <img class="card-img-top" src="https://media.istockphoto.com/id/484014726/photo/contact-us-concept-drawing-on-blackboard-texture.jpg?s=612x612&w=0&k=20&c=olb6JQcpePdU-LusOfvShPP3P6Gv7lV-ACD1T1R6QwU=" alt="Card image cap">
    
        <div class="card-body">
          <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;text-align: center;color: rgb(8, 42, 77);">ABC School</h1>
           </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Contact:</b>&nbsp;&nbsp;0422-243422</li>
          <li class="list-group-item"><b>Email:</b>&nbsp;&nbsp;abcschool179@gmail.com</li>
          
        </ul>
        <a class="fcc-btn" href="/home" >Back</a>
        
      </div>
    
    </div>
    
    <br>
    <br>
    <br><br>
    <div class="col-6">
     
      
      
    <div class="card" style="width:25rem;">
      <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: darkblue;text-align: center;">Contact Us</h1>
    
    <div class="card-body">
      <div class="container">
        <ul class="list-group list-group-flush">
        
          <li class="list-group-item">
          <label for="name">Name</label>&nbsp;
          <input type="text" id="fname" name="name" placeholder="Your name"></li>
      <br><li class="list-group-item">
          <label for="email">Email Id</label>&nbsp;
          <input type="email" id="email" name="email" placeholder="Your email id"></li>
          <br>
          <li class="list-group-item">
            <label for="phoneno">Phone No</label>&nbsp;
          <input type="text" id="fname" name="phoneno" placeholder="Your Phone No">
     
          </li>
          <li class="list-group-item">
            <label for="commends">Commands</label>&nbsp;
            <textarea id="commends" name="w3review"placeholder="Enter Your Commands Or Questions Here..." rows="4" cols="40"> </textarea>
          </li>
          <li class="list-group-item">
            <button type="button" class="btn btn-dark" onclick="alert('Thank You For Contacting Us ,We Will Contact You Soon!!...')">Submit</button>

          </li>
   
</ul>
           </div>
    
    </div>
    
    </div>
    
    </div>
    
    </div>