<div class="bg-img">
    <h1 style="text-align: center; font-style:oblique; color: azure;">Welcome To ABC SCHOOL</h1>
    <a class="fcc-btn" href="/aboutus">About Us</a>  <br><br><br>
    <a class="fcc-btn" href="/contactus">Contact Us</a>
    <div class="row">
         
        <div class="col-6">
        
        <div class="card " style="width:20rem;">
        
            <img class="card-img-top" src="https://i.pinimg.com/736x/43/80/7e/43807e3b296aba05332e66574ac6dbf6.jpg" alt="Card image cap">
            <div class="card-body">
              <h1 class="card-title" style="font-family: Georgia, 'Times New Roman', Times, serif;text-align: center;color: rgb(8, 42, 77);">ABC School</h1>
              <p class="card-text" style="font-family: Georgia, 'Times New Roman', Times, serif;color: rgb(12, 85, 158);"><b>Vission:</b>Our Vision is a community where all children feel loved, respected and encouraged to develop to their fullest potential.</p>
              <p class="card-text" style="font-family: Georgia, 'Times New Roman', Times, serif;color: rgb(12, 85, 158);"><b>Mission:</b>Our mission is to prepare students to contribute to and succeed in a rapidly changing society, enabling them to help make the world a better place.</p>
            
            </div>
        
        </div>
        
        </div>
        
   
</div>