<div class="bg-img">

    <h1 style="text-align: center; font-style: normal;"> ABC SCHOOL</h1>
  
  <div class="right">
   
<a class="fcc-btn" href="/student-list" >Back</a>  <br><br>
</div>
<h3  style=font-style:italic>  View Student Details</h3><br>
<div>
    <div>
        <label> <b> <i>Student Name: </i></b></label> {{student.studentName}}<br>
    </div>
    <div>
        <label> <b> <i> Id:</i> </b></label> {{student.id}}<br>
    </div>
    <div>
        <label> <b> <i>Standard:</i>  </b></label> {{student.standard}}<br>
    </div>
    <div>
        <label> <b><i>  Dob: </i> </b></label> {{student.dob}}<br>
    </div>
    
    <div>
        <label> <b><i>  ParentName: </i> </b></label> {{student.parentName}}<br>
    </div>
    
    <div>
        <label> <b> <i> ParentPhoneNo:</i>  </b></label> {{student.parentPhoneNo}}<br>
    </div>
    
    <div>
        <label> <b> <i> StudentAttendence:</i>  </b></label> {{student.stdAttendence}}
    </div>
    

</div>
</div>